@model hackAThon2020ContactTracker.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name of Person (or Business)</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Location of Contact</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label">Time of Contact</label>
                <input asp-for="Time" class="form-control" type="date" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="showingSymptoms" class="control-label">Were Symptoms Present? (check if yes)</label>
                <input asp-for="showingSymptoms" class="form-control" />
                <span asp-validation-for="showingSymptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="livingWith" class="control-label">Do you live with this Person? (check if yes)</label>
                <input asp-for="livingWith" class="form-control" />
                <span asp-validation-for="livingWith" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isEmployer" class="control-label">Are you employed by this Person (or Business)? (check if yes)</label>
                <input asp-for="isEmployer" class="form-control" />
                <span asp-validation-for="isEmployer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}